  
.chat-widget___ {
	position: relative;
	margin: 0;
	padding: 0;
	font-family: Inter;
	z-index: 1;

	.container {
		position: fixed;
		width: 100%;
		bottom: 0px;
		left: 0px;
		padding: 20px;
		z-index: 99999;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: flex-end;
		align-items: var(--position);

		.chat-modal {
			width: 100%;
			max-width: 380px;
			margin-bottom: 20px;
			background-color: white;
			display: flex;
			flex-direction: column;
			justify-content: stretch;
			border-radius: 12px;
			box-shadow: rgba(5, 24, 20, 0.13) 0px 4px 20px 0px;
			overflow: hidden;

			.header {
				position: relative;
				padding: 24px;
				display: flex;
				flex-direction: row;
				align-items: center;
				background-color: var(--brandColor);

				.logo {
					width: 40px;
					height: 40px;
					margin-right: 24px;
				}

				.content {
					width: 100%;
					display: flex;
					flex-direction: column;
					justify-content: stretch;
					gap: 8px;

					.title {
						font-size: 18px;
						line-height: 130%;
						font-weight: 500;
						color: var(--textColor);
					}

					.description {
						font-size: 14px;
						line-height: 150%;
						font-weight: 400;
						color: var(--textColor);
						opacity: 70%;
					}
				}

				.chat-close-modal {
					width: 24px;
					height: 24px;
					position: absolute;
					top: 16px;
					right: 16px;
					opacity: 50%;

					&:hover {
						opacity: 100%;
					}
				}
			}

			.modal-content {
				display: flex;
				flex-direction: column;
				justify-content: stretch;
				padding: 24px;

				.response-time {
					font-size: 14px;
					line-height: 150%;
					font-weight: 400;
					color: #051814;
					margin-bottom: 20px;
					opacity: 70%;
				}

				.agents {
					display: flex;
					flex-direction: column;
					justify-content: stretch;
					gap: 16px;

					.agent {
						width: 100%;
						padding: 16px;
						background-color: #f1f5f8;
						display: flex;
						flex-direction: row;
						align-items: center;
						border-style: solid;
						border-width: 0px 0px 0px 4px;
						border-color: var(--brandColor);
						border-radius: 8px;

						.avatar {
							width: 48px;
							height: 48px;
							margin-right: 16px;
							border-radius: 50%;
							object-fit: cover;
						}

						>div {
							width: 100%;
							display: flex;
							flex-direction: column;
							gap: 4px;

							* {
								font-size: 14px;
								line-height: 18px;
							}

							label {
								font-weight: 600;
								color: #051814;
							}

							p {
								color: #475851;
							}

							img {
								width: 24px;
								height: 24px;
							}
						}
					}

					a {
						text-decoration: none;
					}
				}
			}
		}

		.chat-widget-btn {
			background-color: var(--brandColor);
			width: fit-content;
			height: fit-content;
			min-width: 64px;
			min-height: 64px;
			border-radius: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

}